<div class="feature_section">
  <div class="feature_component category_component">
    <div class="page_padding2 feature_heading">
      <h2 class="style_h3">Featured</h2>
    </div>
    <div class="investor_component is_featured">
      <div class="investor_block">
        <div class="investor_horizontal">
          <div class="track_horizontal_1">
            <div class="investor_logo">
              <img src="images/YOURSTORY.svg" alt="" />
            </div>
            <div class="investor_logo">
              <img src="images/bussnsis_insider.svg" alt="" />
            </div>
            <div class="investor_logo">
              <img class="cbna" src="images/cnbc.webp" alt="" />
            </div>
            <div class="investor_logo">
              <img src="images/The_Economic_Times.png" alt="" />
            </div>
            <div class="investor_logo">
              <img src="images/mint.png" alt="" />
            </div>
            <div class="investor_logo">
              <img src="images/Finanical_express.svg" alt="" />
            </div>
            <div class="investor_logo">
              <img src="images/Entrackr.png" alt="" />
            </div>
            <div class="investor_logo">
              <img src="images/Forbes.svg" alt="" />
            </div>
            <div class="investor_logo">
              <img src="images/INC.svg" alt="" />
            </div>
          </div>
          <div class="track_horizontal_1">
            <div class="investor_logo">
              <img src="images/YOURSTORY.svg" alt="" />
            </div>
            <div class="investor_logo">
              <img src="images/bussnsis_insider.svg" alt="" />
            </div>
            <div class="investor_logo">
              <img class="cbna" src="images/cnbc.webp" alt="" />
            </div>
            <div class="investor_logo">
              <img src="images/The_Economic_Times.png" alt="" />
            </div>
            <div class="investor_logo">
              <img src="images/mint.png" alt="" />
            </div>
            <div class="investor_logo">
              <img src="images/Finanical_express.svg" alt="" />
            </div>
            <div class="investor_logo">
              <img src="images/Entrackr.png" alt="" />
            </div>
            <div class="investor_logo">
              <img src="images/Forbes.svg" alt="" />
            </div>
            <div class="investor_logo">
              <img src="images/INC.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
