<div class="stat_section">
  <div class="page_padding2">
    <div class="stat_component">
      <div class="stat_content">
        <div class="stat_card">
          <img src="images/users.png" alt="" class="cards_image" />
          <div class="stat_numbers">300k<span>+</span></div>
          <div class="stat_card_content">Total Learners</div>
        </div>
        <div class="stat_card">
          <img src="images/stars.png" alt="" class="cards_image" />
          <div class="stat_numbers">4.2<span>/5</span></div>
          <div class="stat_card_content">CSAT</div>
        </div>
      </div>
    </div>
  </div>
  <div class="stat_animation">
    <div class="stat_animation_text">
      <div class="stat_text_container">
        <div class="stat_text">
          Learners who took Marketing programs in GrowthSchool work at some of
          the top companies.
        </div>
      </div>
    </div>
    <div class="stat_animation_container">
      <div class="investor_horizontal stat_horizontal">
        <div class="stat_animation_blocks">
          <div class="track_horizontal_1 stat_logos">
            <div class="stat_logo_box">
              <img src="images/stat1.svg" alt="" class="stat_images" />
            </div>
            <div class="stat_logo_box">
              <img src="images/stat2.svg" alt="" class="stat_images" />
            </div>
            <div class="stat_logo_box">
              <img src="images/stat3.svg" alt="" class="stat_images" />
            </div>
            <div class="stat_logo_box">
              <img src="images/stat4.svg" alt="" class="stat_images" />
            </div>
            <div class="stat_logo_box">
              <img src="images/stat5.svg" alt="" class="stat_images" />
            </div>
            <div class="stat_logo_box">
              <img src="images/stat6.svg" alt="" class="stat_images" />
            </div>
            <div class="stat_logo_box">
              <img src="images/stat7.svg" alt="" class="stat_images" />
            </div>
            <div class="stat_logo_box">
              <img src="images/stat8.svg" alt="" class="stat_images" />
            </div>
          </div>
        </div>
        <div class="stat_animation_blocks">
          <div class="track_horizontal_1 stat_logos">
            <div class="stat_logo_box">
              <img src="images/stat1.svg" alt="" class="stat_images" />
            </div>
            <div class="stat_logo_box">
              <img src="images/stat2.svg" alt="" class="stat_images" />
            </div>
            <div class="stat_logo_box">
              <img src="images/stat3.svg" alt="" class="stat_images" />
            </div>
            <div class="stat_logo_box">
              <img src="images/stat4.svg" alt="" class="stat_images" />
            </div>
            <div class="stat_logo_box">
              <img src="images/stat5.svg" alt="" class="stat_images" />
            </div>
            <div class="stat_logo_box">
              <img src="images/stat6.svg" alt="" class="stat_images" />
            </div>
            <div class="stat_logo_box">
              <img src="images/stat7.svg" alt="" class="stat_images" />
            </div>
            <div class="stat_logo_box">
              <img src="images/stat8.svg" alt="" class="stat_images" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div></div>
</div>
