body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box {
  width: 100px;
  height: 100px;
  background-color: brown;
  transition: transform 0.5s linear 1s;
}
.contanier {
  perspective: 200px;
}
.contanier:hover .box {
  /* transform: translateX(50px) rotate(45deg); */
  transform: rotateY(45deg);
  transform-origin: 0 70%;
}
.box-special {
  transition: transform 0.5s, background;
}
.contanier:hover .box-special {
  transform: rotateX(45deg);
  background: dodgerblue;
}
