/* *,
*::before,
*::after {
  box-sizing: border-box;
} */
/* html {
  font-size: 62.5%;
} */
body {
  margin: 10px;
  /* height: 400vh; */
}
.para {
  padding: 5px;
  margin: 5px;
  border: 5px solid burlywood;
}
.box::before {
  content: "Ansari";
}
.box {
  width: 100px;
  height: 100px;
  background: rgb(124, 124, 7);
  padding: 20px;
  border: 10px solid rebeccapurple;
  margin: 30px;
  /* box-sizing: border-box; */
  display: inline-block;
}
.para2 {
  width: 50vw;
  height: 150px;
  height: 10em; /*vh, vw,em,rem*/
  background-color: rgb(34, 226, 0);
  border-top: 5px solid burlywood;
  /* overflow: hidden auto; */
  /* overflow-y: auto; */
}

.boxes {
  /* width: 300px;
  height: 300px; */
  border: 10px solid gray;
  position: relative;
}
.boxs {
  width: 5rem;
  height: 5rem;
}
.boxone {
  /* width: 100px;
  height: 100px; */
  background-color: #00bbff;
}
.boxtwo {
  /* width: 100px;
    height: 100px; */
  background-color: #d4ff00;
  position: absolute;
  left: 0;
  /* left: 4rem; */
  /* top: 1rem; */
  bottom: 0;
  z-index: 1; /*we can add - (negative) for going down on another block*/
}
.boxthree {
  /* width: 100px;
  height: 100px; */
  /* position: fixed; */
  left: 3rem;
  right: 3rem;
  width: auto;
  background-color: #ff00fb;
}

.avatar {
  width: 5rem;
  height: 5rem;
  background-color: goldenrod;
  float: left;
  margin-right: 0.5rem;
}
.clear {
  clear: both;
}

.tweet {
  border: 5px solid black;
  /*1. overflow: hidden; for same floating points issur solve*/
}
/*2. we can also use here 2nd name of element as a class...like clearfix etc*/
.clearfix::after {
  content: "";
  display: block; /*for give him specs like div*/
  clear: both;
}

/*flexbox*/

.flexbox {
  border: 5px solid brown;
  display: flex;
  /* flex-direction: column-reverse; */
  /* justify-content: space-evenly; */
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap;
  align-content: center; */
  height: 50vh;
}
.box1 {
  flex-basis: 5rem;
  /* flex-grow: 1; */
  width: 3rem;
  height: 3rem;
  background-color: #d4ff00;
  margin: 0.5rem;
}
.box-a {
  /*align items same*/
  /* align-self: flex-start; */
  /* flex-basis: 5rem; */
  flex-grow: 2;
  /* flex-shrink: 0; */
}

/*GRID*/
.container {
  display: grid;
  grid-template: 30px auto 30px / 30fr 70fr; /*% keyward also use on fr*/
  /* row-gap: 10px;
  column-gap: 10px; */
  gap: 10px;
  border: 3px solid blueviolet;
  height: 40vh;
  grid-template-areas:
    "header  header"
    "sidebar main"
    ".       footer";
}

.box6 {
  background-color: brown;
}

.box-A {
  grid-column: 1 / -1; /*we can use line numbers for inpects, also use span tag and also use the -1 */
  /* grid-row: 3; */
  /* grid-area: 1/1 /1/3;very taf so not perferable */
}
.box-D {
  grid-area: footer;
  /* grid-column: auto; */
}

.first {
  visibility: hidden;
}
.contain {
  display: flex;
  flex-direction: column;
}
.bosx {
  background-color: #ff00fb;
  padding: 1px;
  margin: 1px;
}
.bosx:nth-of-type(2) {
  background-color: #d4ff00;
}

@media screen and (min-width: 600px) {
  .contain {
    flex-direction: row;
  }
}
@media screen and (min-width: 900px) {
  .bosx {
    background-color: rgb(253, 0, 0);
  }
}
@media print {
  body {
    font-size: 12px;
  }
  .bosx {
    padding: 0.5px;
  }
}
.navbar {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: white;
  font-family: Arial;
}

@media screen and (min-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: flex-end;
  }

  .navbox {
    display: flex;
  }
  .parag {
    padding: 5px;
  }
}
img {
  width: 100px;
  height: 100px;
}

.pics {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  background-color: #2f00ff;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .pics {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px;
  }
}
