<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/sytles.css" />
    <title>Grid</title>
  </head>
  <body>
    <div class="container">
      <div class="box6 box-A">A</div>
      <div class="box6">B</div>
      <div class="box6">C</div>
      <div class="box6 box-D">D</div>
    </div>
    <p class="first">First</p>
    <p class="second">Second</p>
    <div class="contain">
      <div class="bosx">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati,
          alias sequi non molestias
        </p>
      </div>
      <div class="bosx">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque
          suscipit itaque repellat quisquam deserunt animi
        </p>
      </div>
    </div>
    <nav class="navbar">
      <div class="navbox">
        <p class="parag">About</p>
        <p class="parag">Courese</p>
        <p class="parag">Forum</p>
        <p class="parag">Learning Paths</p>
        <p class="parag">Contact</p>
      </div>
    </nav>
    <div class="pics">
      <img src="images/a10a765e4925f5bb99925dd494fb1c5b.jpeg" alt="" />
      <img
        src="images/milad-fakurian-58Z17lnVS4U-unsplash.jpg"
        alt=""
        class="brain"
      />
      <img src="images/sukana.jpg" alt="" />
      <img
        src="images/Top Black And White Anime Wallpaper Jujutsu Kaisen Pin De HD.jpeg"
        alt=""
      />
      <img
        src="images/Top Jujutsu Kaisen Wallpaper Desktop Sukuna Jujutsu Kaisen HD.jpeg"
        alt=""
      />
      <img src="images/wallpaperflare.com_wallpaper (1).jpg" alt="" />
      <img src="images/wallpaperflare.com_wallpaper (2).jpg" alt="" />
    </div>
  </body>
</html>
